<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <h2>Tricky test line added by Dana J</h2>
        <h3>Shit, it works.</h3>
    </body>
</html>
